@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.user {
	@include flex($justify: space-between);
	background: #f1f1f1;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	padding: 8px 20px;

	&__info {
		@include flex;
	}

	&__place {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #808080;
		margin-right: 30px;
	}

	&__score {
		@extend .user__place;
		font-weight: 600;
		color: $second-main-color;
		margin-left: 30px;
	}

	&__name {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: $second-main-color;
	}

	&__action {
		@include flex;
	}

	&__progress {
		@extend .user__name;
		font-weight: 500;
		margin-right: 9px;
	}

	&__edit {
		transition: 0.3s !important;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}
