@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400, 500, 600;
	font-stretch: 100%;
	font-display: swap;
	src: url("../public/styles/Montserrat-Medium.ttf"), url("../public/styles/Montserrat-Regular.ttf"),
		url("../public/styles/Montserrat-SemiBold.ttf");
}
@import "./assets/styles/main.scss";
